body {
    margin: 0;
    padding: 0;

    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 144%;
    color: #636363;

    background-image: url("../img/promo.png"), url("../img/promo-bg.svg");
    background-position: top right;
    background-repeat: no-repeat;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.button {
    display: inline-block;
    padding: 11px 20px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
}

.section-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 124%;
    color: black;
}

.main-header-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
}

.cities-list {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
}

.cities-item {
    padding: 55px 0 13px 0;
    margin-right: 25px;
}

.cities-item a {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 119%;
    color: white;
}

.cities-item.cities-item-current a {
    color: #2F80ED;
    font-weight: bold;
    text-decoration: underline;
}

.cities-item:hover {
    font-weight: bold;
}

.menu-list {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    padding: 55px 0 13px 0;
    margin-right: 40px;

    line-height: 119%;
    color: white;
}

.menu-item a {
    color: white;
    text-decoration: none;
}

.menu-item:hover {
    font-weight: bold;
}

.header-button, .footer-button {
    background-color: white;
    color: #2F80ED;
    align-self: flex-end;
}

.promo {
    padding-top: 88px;
    padding-bottom: 329px;
}

.promo-wrapper {
    display: flex;
}

.promo-rate-column {
    width: 285px;
    margin-left: 54px;
    margin-right: 314px;

    position: relative;
}

.rate-block {
    width: 231px;
    height: 231px;
    padding: 47px 0;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0 10px 50px rgba(119, 157, 255, 0.3);
    background-image: linear-gradient(130deg, #F9FBFF 0%, #CADEF9 100%);

    position: absolute;
    left: 40px;
    bottom: -175px;

    text-align: center;
    color: #2F80ED;
}

.rate-block p {
    margin: 0;
    /*margin-bottom: 5px;*/
}

.rate-title {
    line-height: 153%;
}

.rate-text {
    font-weight: bold;
    font-size: 34px;
    line-height: 153%;
}

p.rate-author {
    line-height: 143%;
    margin-bottom: 7px;
}

.rate-block .more {
    font-size: 10px;
    line-height: 195%;
    color: #2F80ED;
    text-decoration: none;
}

.promo-text-column {
    width: 580px;
}

.promo-text-place {
    margin-top:  0;
    margin-bottom: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 124%;
    letter-spacing: 0.05em;
    color: white;
    text-transform: uppercase;
}

.promo-text-large {
    font-size: 40px;
    font-weight: bold;
    line-height: 124%;
    color: white;

    margin: 20px 0;
}

.promo-text {
    font-size: 18px;
    line-height: 124%;
    color: white;
}

.promo-button {
    color: white;
    background: #64E2CD;
    box-shadow: 0 0 0 15px rgba(100, 226, 205, 0.5);
    text-transform: uppercase;
    padding: 15px 40px;
    margin-top: 25px;
    margin-left: 15px;
}

.about {
    padding-top: 105px;
    padding-bottom: 250px;
    background: url("../img/about-bg.svg") no-repeat 40px 24px;
    background-size: 100%;

    position: relative;
}

.about::after {
    content: "";

    width: 231px;
    height: 231px;
    border-radius: 50%;
    background: radial-gradient(at center, #fff 0%, #CADEF9 50%);
    box-shadow: 0 0 10px 10px rgba(119, 157, 255, 0.3);
    filter: blur(20px);

    position: absolute;
    top: 0;
    right: 30px;
}

.about-title {
    margin-top: 0;
    margin-bottom: 90px;
}

.about-list {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
}

.about-item {
    display: flex;
    flex-direction: column;

    width: 225px;
    margin-right: 75px;
}

.about-item-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2F80ED;
}

.about-item-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;

    margin: 10px 0 0 0;
}

.plan {
    padding-top: 130px;
    padding-bottom: 95px;
    position: relative;
}

.plan::after {
    content: "";

    width: 125px;
    height: 125px;
    border-radius: 50%;
    background: radial-gradient(at center, #6AAAFF 0%, #2F80ED 100%);
    filter: blur(5px);
    box-shadow: 0 0 5px 20px rgba(47, 128, 237, 0.3);

    position: absolute;
    top: 205px;
    right: 534px;
}

.plan-title {
    margin-top: 0;
    margin-bottom: 50px;
}

.plan-list {
    display: flex;
    flex-wrap: wrap;

    width: 600px;
    margin: 0 -88px -50px 0;
    padding: 0;
}

.plan-item {
    display: flex;
    flex-direction: column;

    width: 212px;
    margin: 0 88px 50px 0;
}

.plan-item-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2F80ED;
}

.plan-item-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;

    margin: 10px 0 0 0;
}

.plan .more {
    display: inline-block;

    margin: 90px 0 0 0;
    border-bottom: 1px dashed #2F80ED;

    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #2F80ED;
    text-decoration: none;
    text-transform: uppercase;
}

.result {
    padding-top: 188px;
    padding-bottom: 115px;
    background: url("../img/result-bg.svg") no-repeat 0 10px;
}

.result-title {
    margin: 0 0 42px 0;
    color: white;
}

.result-list {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    margin: 0 -33px -40px 0;
    padding: 0;
}

.result-item {
    width: 565px;
    margin: 0 33px 40px 0;
    padding: 50px 50px 50px 148px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px 30px rgba(47, 55, 237, 0.1);

    position: relative;
}

.result-item::after {
    content: "";

    width: 60px;
    height: 60px;

    position: absolute;
    top: 65px;
    left: 50px;
}

.result-idea::after {
    background: url("../img/result-1.svg") no-repeat center;
    background-size: contain;
}

.result-process::after {
    background: url("../img/result-2.svg") no-repeat center;
    background-size: contain;
}

.result-instruments::after {
    background: url("../img/result-3.svg") no-repeat center;
    background-size: contain;
}

.result-cases::after {
    background: url("../img/result-4.svg") no-repeat center;
    background-size: contain;
}

.result-item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 143%;
    letter-spacing: 0.05em;
    color: #2F80ED;
    text-transform: uppercase;

    max-width: 350px;
}

.result-item-text {
    font-size: 16px;
    line-height: 143%;

    max-width: 345px;
}

.author {
    padding-bottom: 140px;
}

.author-wrapper {
    display: flex;
}

.author-title {
    margin: 0 0 77px 0;
}

.author-video-column {
    width: 727px;
    margin-right: 92px;
    position: relative;
}

.play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 0;
    background: rgba(47, 128, 237, 0.5);
    cursor: pointer;
}

.play-button::before {
    content: "";

    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid white;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.author-text-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 351px;
}

.author-text-block {
    border-radius: 10px;
    background: white;
    box-shadow: 0 30px 100px rgba(47, 55, 237, 0.1);
    text-align: center;

    padding: 60px 30px;
}

.author-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 183%;
    color: #2F80ED;
    margin: 0 0 10px;
}

.author-profession {
    font-size: 16px;
    line-height: 183%;
    margin: 0;

}

.skills-list {
    display: flex;

    list-style: none;
    margin: 80px 0 0 0;
    padding: 0;
}

.skills-item {
    display: flex;
    flex-direction: column;
    width: 263px;
    margin-right: 75px;
    padding-top: 95px;

    position: relative;
}

.skills-item::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;
}

.skill-experience::before {
    width: 60px;
    height: 61px;
    background: url("../img/skill-1.svg");
}

.skill-achievement::before {
    width: 61px;
    height: 61px;
    background: url("../img/skill-2.svg");
}

.skill-bot::before {
    width: 60px;
    height: 56px;
    background: url("../img/skill-3.svg");
}

.skill-rate::before {
    width: 59px;
    height: 61px;
    background: url("../img/skill-4.svg");
}

.skills-item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 143%;
    letter-spacing: 0.05em;
    color: #2F80ED;
    text-transform: uppercase;

    max-width: 350px;
    margin: 0;
}
.skills-item-text {
    font-size: 16px;
    line-height: 143%;

    max-width: 247px;
}

.gallery {
    padding-bottom: 22px;
}

.gallery-title {
    margin:  0 auto 75px;
    text-align: center;
}

.gallery-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    list-style: none;
    margin: 0 -25px -22px 0;
    padding: 0;
    width: 100%;
}

.gallery-item {
    margin: 0 25px 22px 0;
}

.price {
    padding-top: 200px;
    padding-bottom: 190px;
    position: relative;
    overflow: hidden;
}

.price::before {
    content: "";

    width: 141px;
    height: 141px;
    border-radius: 50%;
    background: radial-gradient(at center, #6AAAFF 0%, #2F80ED 100%), #FFFFFF;
    box-shadow: 0 10px 50px rgba(119, 157, 255, 0.3);
    filter: blur(10px);

    position: absolute;
    left: -50px;
    bottom: 25px;
}

.price::after {
    content: "";

    width: 231px;
    height: 231px;
    border-radius: 50%;
    background: radial-gradient(at center, #fff 0%, #CADEF9 50%);
    box-shadow: 0 0 10px 10px rgba(119, 157, 255, 0.3);
    filter: blur(20px);

    position: absolute;
    top: 50px;
    right: -70px;
}

.price-title {
    margin: 0 0 65px 0;
    text-align: center;
}

.price-list {
    display: flex;

    list-style: none;
    margin: 0 -25px 0 auto;
    padding: 0;
}

.price-item {
    display: flex;
    flex-direction: column;

    width: 271px;
    margin-right: 25px;
    padding: 60px 40px;
    box-sizing: border-box;
    background: white;
    box-shadow: 0 20px 50px rgba(47, 55, 237, 0.12);
    border-radius: 10px;

    text-align: center;
    position: relative;
}

.price-item-benefit::after {
    content: "Выгодно";

    width: 90px;
    height: 90px;
    padding-top: 38px;
    box-sizing: border-box;
    border-radius: 50%;
    background: #2F80ED;

    font-weight: bold;
    font-size: 12px;
    line-height: 124%;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    color: white;

    position: absolute;
    top: -47px;
    right: -20px;
    z-index: 2;

}

.price-text {
    font-weight: bold;
    font-size: 25px;
    line-height: 158%;
    color: #2F80ED;

    margin: 0;
}

.employee-count {
    font-weight: 600;
    font-size: 16px;
    line-height: 158%;
    color: #2F80ED;
    margin: 7px 0 38px 0;
}

.price-button {
    background: #52D1BC;
    color: white;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 158%;
}

.main-footer {
    margin-top: 55px;
    padding-bottom: 45px;
    background: #2F80ED;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-nav-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-copyright-row {
    background: #185FBF;
    margin-top: 45px;
}

.footer-copyright-row .container {
    display: flex;
    justify-content: space-between;
}

.footer-copyright-row a {
    display: inline-block;
    padding: 30px 0;

    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-copyright-row a:nth-of-type(2) {
    margin-left: auto;
    margin-right: 45px;
}